<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./layouts/sidebar") %>
    <h1>ID: <%= bookinstance._id %></h1>

    <p>
        <strong>Title:</strong>
        <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a>
    </p>
    <p>
        <strong>Imprint:</strong>
        <%= bookinstance.imprint %>
    </p>

    <p>
        <strong>Status:</strong>
        <% if (bookinstance.status === 'Available') { %>
            <span class="text-success"><%= bookinstance.status %> </span>
        <% } else if (bookinstance.status === 'Maintenance') { %>
            <span class="text-danger"><%= bookinstance.status %></span>
        <% } else { %>
            <span class="text-warning"><%= bookinstance.status %></span>
        <% } %>

        <% if bookinstance.status !== 'Available' { %>
            <p>
                <strong>Due back: <%= bookinstance.due_back %></strong>
            </p>
        <% } %>
    </p>
</body>
</html>