<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("./layouts/sidebar") %>
    <h1>ID: <%= bookinstance._id %></h1>

    <p>
        <strong>Title:</strong>
        <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a>
    </p>
    <p>
        <strong>Imprint:</strong>
        <%= bookinstance.imprint %>
    </p>

    <p>
        <strong>Status:</strong>
        <% if (bookinstance.status === 'Available') { %>
            <span class="text-success"><%= val.status %> </span>
        <% } else if (bookinstance.status === 'Maintenance') { %>
            <span class="text-danger"><%= val.status %></span>
        <% } else { %>
            <span class="text-warning"><%= val.status %></span>
        <% } %>
        <p><strong>Imprint</strong> <%= val.imprint %></p>
        <% if (bookinstance.status !== "available") { %>
            <span>
                <strong>Due Back: </strong>
                (Due: <%= val.due_back_formatted %>)
            </span>
        <% } %>
    </p>
</body>
</html>