<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include("./layouts/sidebar") %>
    <h1><%= title %></h1>
    <ul>
        <% for( val of bookinstance_list ) { %>
            <li>
                <a href="<%= val.url %>"><%= val.book.title %> : <%= val.imprint %></a>
                <% if (val.status === 'Available') { %>
                    <span class="text-success"><%= val.status %> </span>
                <% } else if (val.status === 'Maintenance') { %>
                    <span class="text-danger"><%= val.status %></span>
                <% } else { %>
                    <span class="text-warning"><%= val.status %></span>
                <% } %>
                <% if (val.status !== "available") { %>
                    <span>(Due: <%= val.due_back_formatted %>)</span>
                <% } %>
            </li>
        <% } %>
    </ul>
</body>
</html>