<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("./layouts/sidebar") %>
    <h1>Title: <%= book.title %></h1>

    <p>
        <strong>Author:</strong>
        <a href="<%= book.author.url %>"><%= book.author.name %></a>
    </p>
    <p>
        <strong>Summary:</strong>
        <%= book.summary %>
    </p>
    <p>
        <strong>ISBN:</strong>
        <%= book.isbn %>
    </p>
    <p>
        <strong>Genre:</strong>
        <% let i = 0 %>
        <% for(val of book.genre) { %>
            <a href="<%= val.url %>"><%= val.name %></a>
            <% if (i < book.genre.length - 1) { %>
                <span>,</span>
            <% } %>
            <% i =+ 1; %>
        <% } %>
    </p>

    <div style="margin-left: 20px; margin-top: 20px;">
        <h4>Copies</h4>

        <% for (const val of book_instances) { %>
            <hr>
            <% if (val.status === 'Available') { %>
                <span class="text-success"><%= val.status %> </span>
            <% } else if (val.status === 'Maintenance') { %>
                <span class="text-danger"><%= val.status %></span>
            <% } else { %>
                <span class="text-warning"><%= val.status %></span>
            <% } %>
            <p><strong>Imprint</strong> <%= val.imprint %></p>
            <% if (val.status !== "available") { %>
                <span>
                    <strong>Due Back: </strong>
                    (Due: <%= val.due_back_formatted %>)
                </span>
            <% } %>
            <p>
                <strong>Id:</strong>
                <a href="<%= val.url %>"> <%= val.id %></a>
            </p>
        <% } %>
    </div>
</body>
</html>